config.yml
config/
.env
.env.*
*.env
docker-compose.yml
docker-compose.override.yml
compose.yaml
compose.yml
venv/
data/
logs/
__pycache__/
*.pyc
.DS_Store
docker-compose.yaml
docker-compose.override.yaml
compose.override.yml
compose.override.yaml
!.github/ISSUE_TEMPLATE/config.yml
